:host {
  min-width: 80% !important;
}
ion-thumbnail {
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8);
}
ion-col {
  padding: 0;
  margin: 0;
  flex: 0;
  position: relative;
}
.tileStack {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
}
/* stack tiles on z level on top of each other */
.zTile {
  position: absolute;
}
