<ion-header>
  <ion-toolbar>
    <ion-title>
      Clippys Challenge Leveleditor
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-split-pane>
  <ion-content class="game">
    <ion-grid fixed>
      <ion-row *ngFor="let row of items">
        <ion-col *ngFor="let column of row">
          <div class="gameCell" *ngFor="let block of column" (click)="levelClicked(block)">
            <ion-thumbnail *ngIf="block != null">
              <ion-img [src]="block?.$imageSource"></ion-img>
            </ion-thumbnail>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-content class="status">
    <ion-list lines="none" class="status-list">
      <ion-header>
        <ion-label>
          Chips Challenge 1 items
        </ion-label>
      </ion-header>
      <ion-item *ngFor="let item of chipsChallenge1Items" (click)="itemClicked(item)">
        <ion-chip>
          <ion-img [src]="item?.$imageSource"> </ion-img>
          <ion-label>{{item.name}}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="optionsClicked()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-split-pane>
