<ion-header>
  <ion-toolbar>
    <ion-title>
      Clippys Challenge Leveleditor
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-split-pane>
  <app-level-grid [levelGrid]="levelGrid" (tileClick)="tileClicked($event)"></app-level-grid>
  <app-sidebar>
    <app-items-sidebar (itemSelect)="itemClicked($event)"></app-items-sidebar>
  </app-sidebar>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="optionsClicked()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-split-pane>
