<ion-header>
  <ion-toolbar>
    <ion-title>
      Clippys Challenge Leveleditor
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-split-pane>
  <app-level-grid [levelGrid]="levelGrid" (tileClick)="tileClicked($event)"></app-level-grid>
  <ion-content class="status">
    <ion-list lines="none" class="status-list">
      <ion-header>
        <ion-label>
          Chips Challenge 1 items
        </ion-label>
      </ion-header>
      <ion-item *ngFor="let item of chipsChallenge1Items" (click)="itemClicked(item)">
        <ion-chip>
          <ion-img [src]="item?.$imageSource"> </ion-img>
          <ion-label>{{item.name}}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-split-pane>
