.status {
  max-width: 20%;
  .status-list {
    margin-top: 60px;
    ion-chip {
      height: 50px;
    }
    ion-avatar {
      width: 50px;
      height: auto;
    }
    ion-label {
      font-size: 20px;
    }
  }
}
