<ion-header>
  <ion-toolbar>
    <ion-title>
      Clippys Challenge
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-split-pane>
  <app-level-grid [levelGrid]="levelGrid"></app-level-grid>
  <ion-content class="status">
    <ion-list lines="none" class="status-list">
      <ion-item>
        <ion-chip item-content>
          <ion-avatar>
            <img src="assets/icon/accu-batteries-energy.svg">
          </ion-avatar>
          <ion-label>{{battery}}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <ion-chip>
          <ion-avatar>
            <img src="assets/icon/energy-hot-sun.svg">
          </ion-avatar>
          <ion-label>{{energy}}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <ion-chip>
          <ion-avatar>
            <img src="assets/icon/access-time.svg">
          </ion-avatar>
          <ion-label>{{timeLeft}}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
    <ion-grid fixed>
      <ion-row *ngFor="let inventoryrow of inventory.getInventoryItems(4)">
        <ion-col *ngFor="let inventoryblock of inventoryrow">
          <div class="inventoryCell">
            <ion-thumbnail *ngIf="inventoryblock != null">
              <ion-img [src]="inventoryblock?.imageSource"></ion-img>
            </ion-thumbnail>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-split-pane>
